/*Natural box layout model to all elements in all browsers*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-weight: 300;
    font-family: "Quicksand", sans-serif;
}
header {
    display: grid;
    grid-template-columns: 50px auto 44px 44px;
    align-items: end;
    padding-left: 10px ;
    background-color: var(--primary-color);
}
header .logo {
    margin-bottom: 6px;
}
header span {
    font-weight: 700;
    color: white;
    padding-left: 10px;
    font-size: 20px;
}
nav {
    background-color: var(--primary-color);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: .75rem;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
    text-align: center;
}
nav ul li a:hover {
    background-color: var(--secondary-color);
}
nav ul li a.active {
    background-color: #006570;
}
header .dark img{
    width: 22px;
    height: 22px;

}
/*Hamburger menu icon*/
button .dark, button.hamburger img {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
}
button.hamburger {
    color: black;
    padding-bottom: 5px;
    font-size: 2rem;
}
button.hamburger::before {
    content: "\2630";
}
button.hamburger.show::before {
    content: "X";
}  
/*Animation open and close menu*/
nav ul {
    max-height: 0;
    overflow: hidden;
}
nav.show {
    grid-template-rows: 1fr;
}
nav {
    display:grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
/*Main content styles*/
main h1 {
    color: #1c2b4d;
    padding: 1rem 0 0 10px;
    margin: hidden;
}
main p {
    padding: 1rem 0 0 10px;
    color: #334758;
    margin: 0;
}
.hero-image {
    width: 100%;
    height: auto;
}
footer p {
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #ccc;
}